.navigWrapper {
  background-color: #007bff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.linksWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
}

.navBtns {
  padding: 15px;
  border-radius: 5px;
  background-color: gray;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

.active {
  background-color: orangered;
}
