.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.contact div {
  display: flex;
  flex-direction: column;
}

.contact p {
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 1em;
}

.contact p svg {
  margin-right: 5px;
}

.contact button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  font-size: 0.875em;
}

.contact button:hover {
  background-color: #c82333;
}
